@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width:500px) {
    header{
        width: 100vw;

    }

    header > .title-img{
        gap: 30px;
    }
    
}